/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #5c5c5c 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #a7a7a7;
    font-weight: bold;
}

header a:hover {
    color: #f4f4f4;
}

#hero {
    position: relative;
    background: url('Images/Jesus_College_Chapel_Court.jpg');
    background-size: cover;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    min-height: 100vh; /* Ensures full viewport height */
}

#hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 80%;
    text-align: center;
}

#hero h2 {
    margin-bottom: 20px;
}

#services {
    position: relative;
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#services .services-content {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

#services h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background: #5c5c5c;
}

#about {
    position: relative;
    padding: 50px;
    background: url('Images/Classic_Cambridge_Street.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Ensures full viewport height */
}

#about .about-content {
    position: relative;
    overflow: hidden;
}

.about-img {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.about-text {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    max-width: 60%;
}

#subjects {
    position: relative;
    padding: 50px;
    background: url('Images/Botanic_Greenhouse.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Ensures full viewport height */
}

.subjects-text {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    max-width: 60%;
}

#subjects ul {
    list-style-type: none;
    margin-left: 30px;
}

#subjects h2 {
    margin-bottom: 20px;
}

#pricing {
    position: relative;
    background: url('Images/Sunset.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 50px;
    min-height: 100vh; /* Ensures full viewport height */
}

#pricing .pricing-content {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;
}

#contact {
    position: relative;
    padding: 50px;
    background: url('Images/Jesus_College_First_Court.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; /* Ensures full viewport height */
}

#contact .contact-content {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center; /* Center text */
}

.contact-info-box {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
